body {
  margin: 0;
  background: #0f1722;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  width: 1200px;
  border-radius: 30px;
  padding: 30px;
}
